*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Dosis', sans-serif !important;
    
}
/* short-slider */

#short-slider{
    position: relative;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header .row > *{
    width: auto;
}
#header img, svg {
    vertical-align:baseline;
}
#short-slider .short-silder-bg{
    position: relative;
    top: 0px;
    width: 100%;
    padding-top: 20%;
    background: url('../image/background/shop.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%);
    z-index: -10;
    animation: zoom 10s linear infinite;
}

@keyframes zoom {
    0% {
        background-size: 100%; 
    }
    25% {
        background-size: 110%; 
    }
    50%{
        background-size: 120%; 
    }
    100%{
        background-size: 100%;
    }
}

.nav .subnav{
    padding-left: 0;
}



/* #content{
}

.content{
    justify-content: space-between;
    padding: 60px 16px;   
} */

/* sidebar */

.content{
    margin-top: 24px;
}

.shop-sidebar{
   
}

.shop-widget{
    margin-bottom: 50px;
}

.shop-widget .widget-head{
    margin-bottom: 20px ;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}

.shop-widget .custom-control{
    margin-bottom: 8px;
    font-size: 16px;
} 

/* items list */

.shop-list-item {
    justify-content: space-evenly;
    padding: 0;
    margin: 0 8px !important;
}

.shop-item{
    margin: 30px;
    padding: 0 !important;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:  20px 20px 60px #bebdbd,
             -20px -20px 60px #ffffff;

}

@media screen and (max-width: 964px){
    .shop-item{
        width: 200px !important;
        margin: 20px 0;
    }
    #short-slider .short-silder-bg{
        padding-top: 40%;
    }

}

.shop-item:hover {
    cursor: pointer;
    transition-duration: 400ms;
    transform: scale(1.04);
}

.shop-item-img img{
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;
}

.shop-item-info{
    text-align: center;
    color: #707070;
    font-size: 18px;
    position: relative;
    bottom: 0;
}
.item-cost-cart{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
.shop-item-cost{
    color: #70c745 !important;
    padding-left: 10px;
    font-weight: 600;
}
.add-to-cart-btn{
    color: #fff;
    background-color: #70c745;
    padding: 12px;
    padding-bottom: 20px;
    border-top-left-radius: 10px;
    font-size: 40px;
    line-height: 12px;
}
.add-to-cart-btn:hover{
    opacity: 0.8;
}

.shop-item-name{
    padding: 10px 0;
}
.shop-item-name:hover{
    color: #70c745;
    cursor: pointer;
}

.shop-item-cost{
    color: #000;
    font-size: larger;
}

/* .shop-item .add-to-cart-btn{
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding:  16px;
    background-color: #303030bb;
    color: #fff;
    opacity: 0;
} */

/* .shop-item:hover .add-to-cart-btn{
    cursor: pointer;
    opacity: 1;
} */

.page-btn-list{
    text-align: center;
}

.page-index{
    margin: 4px 4px;
}

/*
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.pagination .page-btn{
    float: right;
    width: 46px;
    height: 46px;
    margin: 0 10px;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
}

.pagination .page-btn:hover{

    border-color: #70c745;
        background-color: #70c745;
        color: #ffffff;
} */








#footer{
    position: relative;
}

.footer-bg{
    height: 500px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
          rgba(84, 138, 59, 0.7) 
        ),
        url('../image/background/footer.jpg');
    background-position: center center;
    background-size: cover;
    filter: brightness(50%);
    z-index: -10;
}

.footer-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px 0;
    text-align: center;
    color: #fff;
}

.footer-logo p{
    margin-top: 16px;
}

.footer-logo img{
    width: 200px;
}

.footer-social{
    display: flex;
    justify-content: center;
}

.social-icon{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 28px 20px
}

.social-icon > a{
    color: #fff;
    text-decoration: none;
    line-height: 28px;
}

.social-icon:hover {
    background-color: #70c745;
}

.footer-contact p{
    margin-top: 8px;
    color: #fff;
}

.footer-contact span{
    color: #707070;
}

/* Detail product Modal */
.modal-detail{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.showModal{
    display: flex;
}

.modal-detail .close{
    padding: 10px;
    position: absolute;
    right: 0;
    z-index: 9999;
  }
  .close:hover{
    color:#70c745;
  }
  .modal_container{
    background: #fff;
    width: 800px;
    min-height: 200px;
    margin : 20px;
    /* position: relative; */

  }
  .modal-detail .product{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
  }
  .product .product__images,
  .product .infos{
    width: 50%;
  }
  .product__images{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    padding-right: 0;
  }
  .product__images .slider{
    width: 100%;
    margin-bottom: 20px;
  }
  .modal-slider img{
    max-width: 360px;
    width: 100%;
    max-height: 360px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .product__images .images{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product__images .images img{
    cursor: pointer;
    object-fit: cover;
    border-radius: 5px;
  }
  .product__images .images img.active{
    border: 1px solid #70c745;
  }
  .product__images .images img{
    max-width: 100px;
    width: 100%;
    max-height: 100px;
    margin: 10px 10px 10px 0;
    box-shadow:  10px 10px 20px #a7a4a4,
             -10px -10px 20px #ffffff;
  }
  
  .infos{
    padding: 30px;
  }
  .infos h2{
    font-size: 30px;
    padding-bottom: 20px;
  }
  .infos h2.price{
    font-size: 26px;
    font-weight: 600;
    color: #70c745;
  }
  .infos .p{
      color: #707070;
      line-height: 25px;
  }
  .quantity{
    display: flex;
    align-items: center;
    width: 130px;
    justify-content: space-between;
    background:#f2f4f5;
    font-size: 12px;
    margin: 30px 0;
  }
  .quantity .qty-text{
    border: none;
    background: #f2f4f5;
    text-align: center;
    font-size: 16px;
    height: 46px;
    width: 40px;
  }
  .quantity .qty-minus{
    z-index: 999;
    padding-left: 20px;
    cursor: pointer;
  }
  .quantity .qty-plus{
    z-index : 999;
    padding-right: 20px;
    cursor: pointer;
    margin-left: -10px;
  }
  
  .button{
    display: flex;
    align-items: center;
    
  }
  .button .cart{
    padding: 10px 10px;
    border-radius: 5px;
    border:2px solid #70c745; 
    margin-right: 20px;
    background: #fff; 
    color: #70c745;
    font-weight: 500;
    font-size: 16px;
  }
  .button .cart:hover{
    color: #fff;
    background: #70c745;
  }
  .button .buy{
    padding: 10px 10px;
    border-radius: 5px;
    border:2px solid #70c745; 
    background: #70c745; 
    color: #fff;
    font-weight: 500;
    font-size: 16px;
  }
  .button .buy:hover{
    border: 2px solid #70c745;
    background: #fff; 
    color: #70c745;
  }