*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Dosis', sans-serif;
}


/* dùng chung */
.row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.row-justify{
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-1{
    width: 100%;
}

.col-2{
    width: 50%;
}

.col-2-left{
   max-width: 25%;
   padding: 0 15px;
}

.col-2-right{
    width: 100%;
    padding: 0 15px;
 }

.col-3{
    width: 33.3333%;
}

.col-4{
    width: 25%;
}

.mb-8{
    margin-top: 8px;
}

/*  */

#main{
    
}


/* header */
#header{
    position: fixed;
    height: 132px;
    top: 0;
    width: 100%;
    padding: 8px 76px;
    z-index: 1;
}

#header a{
    text-decoration: none;
}

/* #header .header-fix{
    position: fixed;
    width: 100%;
    padding: 0 32px;
    margin: 0 44px;
} */

/* top-header */

#header .top-header{
    position: relative;
    height: 41px;
    font-size: 16px;
    justify-content: space-between;
    border-bottom: 0.5px solid #fff;
}

#header .top-header a{
    margin-right: 24px;
    display: inline-block;
    line-height: 41px;
    color: #fff;
}

#header .top-header a:hover{
    color: #70c745;
}

/* fix-header (logo/nav/subnav) */

#header .fix-header{
    height: 90px;
    display: flex;
    justify-content: space-between;
}

/* nav */

#header .nav{
    display: flex;
    list-style: none;
}

#header .fix-header .header-logo{
    width: 280px;
}

.fix-header .header-logo span{
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
}

#header .fix-header img{
    width: 98px;
    margin-top: 10px; 
}

#header .nav a{
    padding: 0 30px;
    line-height: 90px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

#header .nav > li:hover > a{
    color: #70c745;
    box-shadow: 0 2px #70c745;
}

#header .search-btn{
    line-height: 90px;
    padding: 0 28px;
    font-size: 18px;
}

/* sub-nav 1 */
#header .subnav{
    position: relative;
}

#header .subnav > ul{
    position: absolute;
    top: 70%;
    left: -10%;
    display: none;
}
.subnav i{
    font-size: 12px; 
}

.subnav > ul > li{
    min-width: 200px;
    list-style: none;
}

#header .subnav  ul  a{
    line-height: 30px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}
#header .subnav  a:hover  {
    color: #70c745;
}

#header .subnav:hover > ul{
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 8px;
    display: block;
    list-style: none;
    animation:showdown 0.6s;
}

@keyframes showdown {
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}

.subnav-2 {
    position: relative;
}

.subnav-2 ul{
    position: absolute;
    left: 50%;
    top: 0;
    list-style: none;
    display: none;
    animation: showdown 0.2s;
    min-width: 150px;
}

.subnav-2 a{
    text-decoration: none;
    line-height: 30px;
    color: #000;
}

.subnav-2:hover > ul{
    display: block;
    background-color: #fff;
    box-shadow: 0 0 8px;
}

/* Slider */

#slider{
    position: relative;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#slider .silder-bg{
    position: relative;
    top: 0px;
    width: 100%;
    padding-top: 20%;
    background: url('../image/background/shop.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%);
    z-index: -10;
    animation: zoom 10s linear infinite;
}

@keyframes zoom {
    0% {
        background-size: 100%; 
    }
    25% {
        background-size: 110%; 
    }
    50%{
        background-size: 120%; 
    }
    100%{
        background-size: 100%;
    }
}


#content{
}

#content .content-section{
    width: 1110px;
    padding: 60px 16px;   
    margin-left: auto;
    margin-right: auto;
}

/* sidebar */

.shop-sidebar{
   
}

.shop-widget{
    margin-bottom: 50px;
}

.shop-widget .widget-head{
    margin-bottom: 20px ;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}

.shop-widget .custom-control{
    margin-bottom: 8px;
    font-size: 16px;
}

/* items list */

#shop-item-list{
    width: 100%;
    border: 1px solid #707070;
}

.shop-item-list{
    margin-bottom: 50px;
}

.shop-item{
    width: 210px;
    background-color: #fff;
}

.shop-item:hover {
    cursor: pointer;
    transition-duration: 500ms;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 15%);
}

.shop-item-img img{
    width: 100%;
    display: block;
}

.shop-item-info{
    background-color: rgb(242, 244, 245);
    text-align: center;
    color: #707070;
    font-size: 18px;
}

.shop-item-name:hover{
    color: #70c745;
    cursor: pointer;
}

.shop-item-cost{
    color: #000;
    font-size: larger;
}

.shop-item .add-to-cart-btn{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding:  16px;
    background-color: #303030bb;
    color: #fff;
    opacity: 0;
}

.shop-item:hover .add-to-cart-btn{
    cursor: pointer;
    opacity: 1;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.pagination .page-btn{
    float: right;
    width: 46px;
    height: 46px;
    margin: 0 10px;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
}

.pagination .page-btn:hover{

    border-color: #70c745;
        background-color: #70c745;
        color: #ffffff;
}








#footer{
    position: relative;
}

.footer-bg{
    height: 500px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
          rgba(84, 138, 59, 0.7) 
        ),
        url('../image/background/footer.jpg');
    background-position: center center;
    background-size: cover;
    filter: brightness(50%);
    z-index: -10;
}

.footer-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px 0;
    text-align: center;
    color: #fff;
}

.footer-logo p{
    margin-top: 16px;
}

.footer-logo img{
    width: 200px;
}

.footer-social{
    display: flex;
    justify-content: center;
}

.social-icon{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 28px 20px
}

.social-icon > a{
    color: #fff;
    text-decoration: none;
    line-height: 28px;
}

.social-icon:hover {
    background-color: #70c745;
}

.footer-contact p{
    margin-top: 8px;
    color: #fff;
}

.footer-contact span{
    color: #707070;
}

